body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    justify-content: center;
}

.post-content {
    padding: 0px 14px;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-profile-img {
    border-radius: 50%;
    height: 30px;
    vertical-align: middle;
}

.post-user-info {
    align-content: center;
    margin-top: 20px;
}

.post-stats {
    display: flex; 
}

.post-stats div {
    margin-right: 20px;
    font-size: 14px;
    color: gray;
}

.post-case {
    margin: 20px;
    box-shadow: 0 4px 8px 0 gray;
    width: 400px;
}

.post-case:hover {
    box-shadow: 0 8px 16px 0 gray;
}

.post-comment-summary {
    margin: 20px 0px;
}

.post-comment-summary a {
    color: #4f6fa3;
}

.post-comment-summary a:link {
    text-decoration: none;
}