<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Medical Study Cases</title>
  </head>
  <body>
    <h2>Medical Study Cases</h2>

    <!-- Where everything is rendered -->
    <div id="mainContent"></div>

    <!-- template for case details -->
    <script id="caseDetails" type="text/template">
      <h1> Case Details </h1>
    </script>

    <!-- template for post list -->
    <script id="caseElement" type="text/template">
      <!-- <a href="#<%= id %>">View details</a> LINK TO POST DETAILS -->
      <div>
        <img class="post-img" src="<%= image.post %>">
      </div>

      <div class="post-content">
        
        <div class="post-user-info">
          <img class="post-profile-img" src="<%= image.profile %>">
          <a><%= username %></a>
        </div>

        <div class="post-caption">
            <p> <%= caption %></p>
        </div>

        <div class="post-stats">
          <div>
            <a><%= stats.views %></a>
            <a>views</a>
          </div>
          <div>
            <a><%= stats.follow %></a>
            <a>followers</a>
          </div>
          <div>
            <i class="fa fa-star"></i>
            <a><%= stats.star %></a>
          </div>
        </div>

        <div class="post-comment-summary">
            <a href="#post/<%= id %>">VIEW DISCUSSION</a>
        </div>

      </div>

    </script>
    
    <!-- Libraries -->
    <script src="app/libs/jquery.js"></script>
    <script src="app/libs/underscore.js"></script>
    <script src="app/libs/backbone.js"></script>

    <!-- links to all the files needed -->
    <script src="app/models/singleCaseModel.js"></script>
    <script src="app/views/singleCaseView.js"></script>
    <script src="app/collections/caseCollectionModel.js"></script>
    <script src="app/views/caseCollectionView.js"></script>
    <script src="app/models/caseDetailsModel.js"></script>
    <script src="app/views/caseDetailsView.js"></script>
    <script src="app/routes/router.js"></script>

    <!-- Link to  compiled application -->
    <script src="app/app.js"></script>
  </body>
</html>